**Adı:**  Doğukan

**Soyadı:**  Kıyıklık

**Numarası:** 152120211104

**Şubesi:** A

In [ ]:
-- 1) 2016 model yılına ait olan ve liste fiyatı 500’den fazla olan tüm ürünleri, bunların marka ve kategori isimleriyle birlikte listeleyen bir SQL sorgusu yazınız. Bu soruyu gerçekleştirirken INNER JOIN ifadesini kullanınız. (10p) --
SELECT production.categories.category_name, production.brands.brand_name
FROM production.products AS PP
INNER JOIN production.categories ON PP.category_id = production.categories.category_id
INNER JOIN production.brands ON PP.brand_id = production.brands.brand_id
WHERE PP.model_year = 2016 AND PP.list_price > 500

In [ ]:
-- 2) Hiç sipariş edilmemiş ürünlerin sayısını listeleyen bir SQL sorgusu yazınız. Bu soruyu gerçekleştirirken LEFT JOIN ifadesini kullanınız. (20p) --

SELECT COUNT(*) AS 'Sipariş Edilmemiş Ürün Sayısı'
FROM production.products AS PP
LEFT JOIN sales.order_items ON PP.product_id = sales.order_items.product_id
WHERE sales.order_items.list_price is NULL

In [ ]:
-- 3) ‘Mercy Brown’ adlı müşterinin verdiği en yüksek sipariş tutarını listeleyen bir SQL sorgusu yazınız. Bu soruyu gerçekleştirirken RIGHT JOIN ifadesini kullanınız. (20p) --

SELECT MAX(list_price * quantity) AS 'En Yüksek Sipariş Tutarı'
FROM sales.order_items AS SOI
RIGHT JOIN sales.orders AS SO ON SO.order_id = SOI.order_id
RIGHT JOIN sales.customers AS SC ON SC.customer_id = SO.customer_id
WHERE SC.first_name = 'Mercy' AND SC.last_name = 'Brown'

In [ ]:
-- 4) Hiçbir satışta adı geçmeyen mağazaları listeleyen bir SQL sorgusu yazınız. Bu soruyu gerçekleştirirken FULL JOIN ifadesini kullanınız. (20p) --

SELECT store_name
FROM sales.stores AS SS
FULL JOIN sales.orders AS SO ON SO.store_id = SS.store_id
WHERE SO.store_id IS NULL

In [ ]:
-- 5) ‘Cruisers Bicycles’ kategorisindeki farklı ürünlerin adlarını listeleyen bir SQL sorgusu yazınız. Bu soruyu gerçekleştirirken SELF JOIN ifadesini kullanınız. (20p) --
SELECT DISTINCT PP1.product_name
FROM production.products AS PP1, production.products AS PP2
WHERE PP1.brand_id <> PP2.brand_id AND PP1.category_id = PP2. category_id AND
PP1.category_id IN (
SELECT category_id
FROM production.categories AS PC
WHERE PC.category_name = 'Cruisers Bicycles')

In [ ]:
-- 6) ‘Trek’ markasının toplam kaç farklı ürünü olduğunu listeleyen bir SQL sorgusu yazınız. (10p) --

SELECT COUNT(DISTINCT PP.product_id) AS 'Trek Ürün Sayısı'
FROM production.brands AS PB
INNER JOIN production.products AS PP ON PP.brand_id = PB.brand_id
WHERE PB.brand_name = 'Trek'